

:root {
    --dark-background: rgb(24, 33, 42);
}

* {

    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(24, 33, 42);
    gap: 10px;
}

.app-container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.25 );
    flex-wrap: wrap;
    max-width: 960px;
    max-height: 960px;
    border: 5px solid rgb(110, 132, 255);

}

button {
    padding: 15px 30px;
    background-color: rgb(125, 152, 182);
    border: 2px solid white;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    width: 200px;
    
}

.toggleActive {
    border-color: yellow;
}