@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&display=swap');

:root {
  --dark-background: rgb(24, 33, 42);
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'BioRhyme', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(24, 33, 42);
  gap: 10px;
}

.grid-container {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  max-width: 960px;
  max-height: 960px;
  border: 1px solid black;
}

button {
  padding: 15px 15px;
  background-color: rgba(39, 39, 39, 0.695);
  border: 2px ridge black;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  height: 50px;
}

.toggleActive {
  border-color: yellow;
}

.app-container {
  display: flex;
  gap: 10px;

  max-height: 960px;
}

.controls-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 160px;
}

.spacer {
  width: 150px;
}

input {
  width: 100%;
  flex-basis: 1;
  height: 50px;
  border: 1px solid black;
  outline: none;
}

}

.grid-tile {
  box-sizing: border-box;
  flex-grow: 1;
}

.change-tile-size-display {
  color: white;
  text-align: center;
}


.change-tile-size-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.change-tile-size-slider {
  background-color: white;
  appearance: none;
  height: 4px;
}

.change-tile-size-slider::-webkit-slider-thumb {
  appearance: none;
  width: 5px;
  height: 15px;
  background-color: white;
  border: 1px solid black;
}


.site-header {
  color: white;
  font-size: 48px;
}

.grid-row {
  width: 100%;
  display: flex;
  flex-grow: 1;
  user-select: none;
}